<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>updateUser</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css">
</head>

<body>

<h2>Create a new user</h2>
<a href="javascript: document.logoutForm.submit()" role="menuitem"> Logout</a>
<form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
    <input hidden type="submit" value="Sign Out"/>
</form>

<form th:method="POST" th:action="@{/admin/addUser}" th:object="${user}">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <br/>
    <label for="lastname">Enter lastname: </label>
    <input type="text" th:field="*{lastname}" id="lastname"/>
    <br/>
    <label for="username">Enter username</label>
    <input type="text" th:field="*{username}" id = "username"/>
    <br/>
    <label for="password">Enter password</label>
    <input type="text" th:field="*{password}" id = "password"/>
    <br/>
    <table>
    <tr>
        <th th:align="left">Select Role</th>
<!--        <td th:each="role : ${allRoles}">-->
<!--            <label for="rolesId"></label>-->
<!--            <input name="rolesId" type="checkbox" th:text="${role.getName()}" id="rolesId" th:value="${role.id}"/>-->
<!--        </td>-->
        <select multiple aria-label="roll" size="2" required="true" id="rolesId" name="rolesId">
            <option th:text="USER" th:value="1"></option>
            <option th:text="ADMIN" th:value="2"></option>
        </select>
    </tr>
    </table>
    <input type="submit" value="Create!"/>
</form>
<hr/>
<a href="/admin/users">to Index</a>
</body>
</html>

