<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List People</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css">
</head>
<body>
<h1> Users</h1>
<a href="javascript: document.logoutForm.submit()" role="menuitem"> Logout</a>
<form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
    <input hidden type="submit" value="Sign Out"/>
</form>
<table border="1">
    <tr style="color: indianred">
        <th>Id</th>
        <th>Name</th>
        <th>Lastname</th>
    </tr>
    <tr>
    <tr th:each="user : ${users}">
        <td th:utext="${user.getId()}"></td>
        <td th:utext="${user.getName}"></td>
        <td th:utext="${user.getLastname()}"></td>
        <td>
            <form th:method="DELETE" th:action="@{/admin/{id}(id=${user.getId()})}">
                <input type="submit" value="Delete"/>
            </form>
        </td>
        <td>
            <a th:href="@{/admin/{id}/edit(id=${user.getId()})}">Edit</a>
        </td>
    </tr>
</table>

<br/>
<br>
<hr/>
<a th:href="@{/admin/new}">Create New User</a>

</body>
</html>