<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List People</title>
</head>
<body>
<h1> Users</h1>
<table border="1">
    <tr style="color: indianred">
        <th>Id</th>
        <th>Name</th>
        <th>Lastname</th>
    </tr>
    <tr>
    <tr th:each="user : ${users}">
        <td th:utext="${user.getId()}"></td>
        <td th:utext="${user.getName()}"></td>
        <td th:utext="${user.getLastname()}"></td>
        <td>
            <form th:method="DELETE" th:action="@{/user/{id}(id=${user.getId()})}">
                <input type="submit" value="Delete"/>
            </form>
        </td>
        <td>
            <a th:href="@{/user/{id}/edit(id=${user.getId()})}">Edit</a>
        </td>
    </tr>
</table>

<br/>
<br>
<hr/>
<a th:href="@{/user/new}">Create New User</a>

</body>
</html>